    Importando Bibliotecas

In [1]:
import pandas as pd
import numpy as np

Contruindo DataFrame

In [2]:
df = pd.DataFrame(np.random.randint(100000, size=(1000000, 10)),
             columns=['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'])

Amostragem

In [3]:
df.shape

(1000000, 10)

In [5]:
df.head(100)

        A      B      C      D      E      F      G      H      I      J
0   40197   6977  26791  18361  29248  32431  61399  39427  44090  19878
1   40346  82085  99330  93981  21800  10719   3417  68009  74270  68693
2   72321  97263  10460  71363   4234  42743  91781  93152   1014  32975
3   52013  78756  52194  99000  29983  88786  20565  57365  50283  15014
4   75071  68529  87024  91043  35564  65250  64577  88087  92116  95835
..    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
95  10761  64832  20424  29837  26591  86450  88840   7052  72321  84585
96  95407   7862  75579  10233  38899  15794  70210  40345  15501   6511
97  72145  23679  44928  75457   1864  89102  16968   5096  21691  25658
98   6271  28467  41248  60721  27093  62626  94144  99495  18213  52263
99  87132  49547   8634  99085  54086  31701  28637  23085  49076  48531

[100 rows x 10 columns]

In [6]:
df.tail(100)

            A      B      C      D      E      F      G      H      I      J
999900  98281  41502  49877  80921   8065  23488  35587  42083  56840  56227
999901  37619  20477  61542  63058  81063  78206  29453  30271  60031  58651
999902  72632  39510  22331   7813   6913  70018  64631   3664  43421   8763
999903  56431  84921  62941  35817  65902   2915  85993   7202  84318  11904
999904  53312  17729  65510  46363  24543  59926  58930  10492  41404  50710
...       ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
999995  62319  92149  13119  69062   7202  90170  70000  80803  45661  92033
999996  55501  80313  74545  74088   4019  66289  44835  38897  36696  34321
999997   6905  49607  44676   8120  52054  76334  58228  13916   2438  22003
999998  86062  21539  38819  52101  56854  88275  60071  16037  91133  99156
999999   1227  25270  87445  35892  88481  60590  64959  81788  94655  41369

[100 rows x 10 columns]

In [8]:
df.sample(10)

            A      B      C      D      E      F      G      H      I      J
220712  40914  36730  94363  91907  54454  58212  94924  74458  46059  13167
41692   69055  20627  67214  28982  71295  91172  21647  18591   4795  98742
759982   8926  68817  24452  88061  20046  61814  23821  68996  99888  27259
680412  73009  56025  81795  93765    822  11288  40106   6308  89620  71814
375715  57763   9640  10277  23956  92666  28205  51212  29204  35952  13713
168440  49464  60544   7043  70929  28629  17079  46489  27552  35428  31451
844725   1188  69528  95209  31513   8487  16122  85862    596  19040  48875
539738  27211  71365  73216  38186  73472  40994  87071  14007  77667  88326
504067  33429  39112  50858  43831  81678  89823  62379  27978  62334  71939
72962   20322  72962  60611  52266  64019   3717  93923  30903   5145  96787

Intro Sobre MÃ©todos de String

In [9]:
texto = 'texto'

In [10]:
texto[::-1]

'otxet'

In [11]:
palindromo = 'apos a sopa'

In [12]:
palindromo[::-1]

'apos a sopa'

In [13]:
texto = 'texto'
texto.capitalize()

'Texto'

In [14]:
texto.lower()

'texto'

In [25]:
texto.upper()

'TEXTO'

In [24]:
texto.find('x')

2

In [23]:
texto[2]

'x'

In [26]:
texto.replace('XTO', 'sta')

'texto'